.facebook {
   background-image: url("../svg/facebook.svg");
   background-repeat: no-repeat;
   background-position: 50% 0;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.twitter {
   background-image: url("../svg/twitter.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.linkedin {
   background-image: url("../svg/linkedin.svg");
   background-repeat: no-repeat;
   background-position: 50% 45%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.contact {
   background-image: url("../svg/contact.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.page-head .logo:before, .page-foot div:after {
   background-image: url("../images/logo.png");
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: auto 100%;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.page-head .register-today {
   background-image: url("../svg/register-btns/register-today.svg");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-head .nav-menu {
   background-image: url("../svg/menu.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
@media only screen and (max-width: 48em) {
   .page-head .nav-list li a {
   background-image: url("../svg/arrow.svg");
   background-repeat: no-repeat;
   background-position: 210% 50%;
   background-size: 70% 70%;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}

}
.js-menu-open .page-head .nav-menu {
   background-image: url("../svg/close.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.testimonial img {
   background-image: url("../svg/quote.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.page-home .hand-picked-speakers img {
   background-image: url("../svg/hand-picked-speakers.svg");
   background-repeat: no-repeat;
   background-size: auto auto
}
@media only screen and (max-width: 48em) {
   .page-home .hand-picked-speakers .ad-details {
   background-image: url("../svg/hand-picked-speakers.svg");
   background-repeat: no-repeat;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box;
   background-position: 50% 0;
   background-size: auto auto
}

}
.page-home .five-awesome-tracks img {
   background-image: url("../svg/five-awesome-tracks.svg");
   background-repeat: no-repeat;
   background-size: auto auto
}
@media only screen and (max-width: 48em) {
   .page-home .five-awesome-tracks .ad-details {
   background-image: url("../svg/five-awesome-tracks.svg");
   background-repeat: no-repeat;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box;
   background-position: 50% 0;
   background-size: auto auto
}

}
.page-home .packed-schedule img {
   background-image: url("../svg/packed-schedule.svg");
   background-repeat: no-repeat;
   background-size: auto auto
}
.page-home .hot-topics img {
   background-image: url("../svg/hot-topics.svg");
   background-repeat: no-repeat;
   background-size: auto auto
}
.page-home .register-today {
   background-image: url("../svg/register-btns/large-register-today.svg");
   background-repeat: no-repeat;
   background-size: auto auto
}
.page-home .twentythirteen img {
   background-image: url("../svg/2013.svg");
   background-repeat: no-repeat;
   background-size: auto auto
}
