.facebook {
   background-image: url("../svg/facebook.svg");
   background-repeat: no-repeat;
   background-position: 50% 0;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.twitter {
   background-image: url("../svg/twitter.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.linkedin {
   background-image: url("../svg/linkedin.svg");
   background-repeat: no-repeat;
   background-position: 50% 45%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.contact {
   background-image: url("../svg/contact.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.page-head .logo:before, .page-foot div:after {
   background-image: url("../images/mpbeta1.png");
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: auto 100%;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
.page-head .logo-top img {
   background-image: url("../images/logo.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% auto;
}

.page-home .icon img {
   background-image: url("../svg/brain.svg");
   background-repeat: no-repeat;
   background-size: auto auto;
}

.page-head .nav-menu {
   background-image: url("../svg/menu.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}
@media only screen and (max-width: 48em) {
   .page-head .nav-list li a {
   background-image: url("../svg/arrow.svg");
   background-repeat: no-repeat;
   background-position: 210% 50%;
   background-size: 70% 70%;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}

}
.js-menu-open .page-head .nav-menu {
   background-image: url("../svg/close.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto auto;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box
}

.page-home .article img {
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.page-home .article.logo img {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
.page-general .article.logo img {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
