.page-head .logo {
   background-image: url("../images/png/sprite.png");
   background-position: 0 -51px;
   background-repeat: no-repeat;
   background-size: 85px 142px
}
@media only screen and (min-width: 30.1em) {
   .page-head .logo {
   background-position: 0 -91px;
   background-size: auto auto
}

}
@media only screen and (min-width: 62.5em) {
   .page-head .logo {
   background-position: 0 0;
   background-size: auto auto
}

}
body .page-foot div: after {
   background-image: url("../images/png/sprite.png");
   background-position: 0 -51px;
   background-repeat: no-repeat;
   background-size: 85px 142px
}
@media only screen and (min-width: 62.5em) {
   body .page-foot div: after {
   background-position: 0 -91px;
   background-size: auto auto
}

}
.facebook {
   background-image: url("../images/png/sprite.png");
   background-repeat: no-repeat;
   background-position: 12px -89px;
   background-size: 85px 142px
}
@media only screen and (min-width: 30.1em) {
   .facebook {
   background-position: 14px -164px;
   background-size: auto auto
}

}
@media only screen and (min-width: 48em) {
   .facebook {
   background-position: 12px -89px;
   background-size: 85px 142px
}

}
@media only screen and (min-width: 62.5em) {
   .facebook {
   background-position: 14px -164px;
   background-size: auto auto
}

}
.twitter {
   background-image: url("../images/png/ie/sprite.png");
   background-repeat: no-repeat;
   background-position: -10px -88px;
   background-size: 85px 142px
}
@media only screen and (min-width: 30.1em) {
   .twitter {
   background-position: -24px -162px;
   background-size: auto auto
}

}
@media only screen and (min-width: 48em) {
   .twitter {
   background-position: -10px -88px;
   background-size: 85px 142px
}

}
@media only screen and (min-width: 62.5em) {
   .twitter {
   background-position: -24px -162px;
   background-size: auto auto
}

}
.linkedin {
   background-image: url("../images/png/sprite.png");
   background-repeat: no-repeat;
   background-position: -36px -89px;
   background-size: 85px 142px
}
@media only screen and (min-width: 30.1em) {
   .linkedin {
   background-position: -70px -164px;
   background-size: auto auto
}

}
@media only screen and (min-width: 48em) {
   .linkedin {
   background-position: -36px -89px;
   background-size: 85px 142px
}

}
@media only screen and (min-width: 62.5em) {
   .linkedin {
   background-position: -70px -164px;
   background-size: auto auto
}

}
.contact {
   background-image: url("../images/png/sprite.png");
   background-repeat: no-repeat;
   background-position: -62px -87px;
   background-size: 85px 142px
}
@media only screen and (min-width: 30.1em) {
   .contact {
   background-position: -117px -161px;
   background-size: auto auto
}

}
@media only screen and (min-width: 48em) {
   .contact {
   background-position: -62px -87px;
   background-size: 85px 142px
}

}
@media only screen and (min-width: 62.5em) {
   .contact {
   background-position: -117px -161px;
   background-size: auto auto
}

}
.page-head .register-super {
   background-image: url("../images/png/register-btns/register-super.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-head .register-early {
   background-image: url("../images/png/register-btns/register-early.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-head .register-today {
   background-image: url("../images/png/register-btns/register-today.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-head .nav-menu {
   background-image: url("../images/png/mobile-menu-large.png");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto 45%
}
@media only screen and (max-width: 48em) {
   .page-head .nav-list li a {
   background-image: url("../images/png/mobile-menu-arrow.png");
   background-repeat: no-repeat;
   background-position: 95% 50%;
   background-size: auto 30%
}

}
.js-menu-open .page-head .nav-menu {
   background-image: url("../images/png/mobile-menu-close.png");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto 45%
}
.newsletter img {
   background-image: url("../images/png/newsletter.png");
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: auto 100%
}
.newsletter-icon,.bio.newsletter img {
   background-image: url("../images/png/white-flash.png");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: auto 98%
}
.contact-icon,.bio.contact img {
   background-image: url("../images/png/envelope-large.png");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: 98% auto
}
.pdf img {
   background-image: url("../images/png/pdf.png");
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: auto 100%
}
.testimonial img {
   background-image: url("../images/png/testimonials.png");
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: auto 100%
}
.page-speakers .icon img {
   background-image: url("../images/png/speakers.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: 50% 50%
}
img.general {
   background-image: url("../images/png/general.png");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: 55% auto
}
img.lunch {
   background-image: url("../images/png/lunch.png");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: 55% auto
}
img.break {
   background-image: url("../images/png/break.png");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: 50% auto
}
img.registration {
   background-image: url("../images/png/registration.png");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: 50% auto
}
img.no-speaker {
   background-image: url("../images/png/no-speaker.png");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: 50% auto
}
.bio .link: before {
   background-image: url("../images/png/screen.png");
   content: '';
   display: block;
   width: 17px;
   height: 13px;
   position: absolute;
   top: .3em;
   left: 0;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: auto auto
}
.bio .tweet: before {
   background-image: url("../images/png/black-twitter.png");
   content: '';
   display: block;
   width: 20px;
   height: 16px;
   position: absolute;
   top: .3em;
   left: 0;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: auto auto
}
.page-home .icon img {
   background-image: url("../images/png/eye.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-home .hand-picked-speakers img {
   background-image: url("../images/png/hand-picked-speakers.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
@media only screen and (max-width: 48em) {
   .page-home .hand-picked-speakers .ad-details {
   background-image: url("../images/png/hand-picked-speakers.png");
   background-repeat: no-repeat;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box;
   background-position: 50% 0;
   background-size: 40% auto
}

}
.page-home .five-awesome-tracks img {
   background-image: url("../images/png/five-awesome-tracks.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
@media only screen and (max-width: 48em) {
   .page-home .five-awesome-tracks .ad-details {
   background-image: url("../images/png/five-awesome-tracks.png");
   background-repeat: no-repeat;
   -webkit-background-origin: content-box;
   -moz-background-origin: content-box;
   -ms-background-origin: content-box;
   -o-background-origin: content-box;
   background-origin: content-box;
   background-position: 50% 0;
   background-size: 40% auto
}

}
.page-home .packed-schedule img {
   background-image: url("../images/png/packed-schedule.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-home .hot-topics img {
   background-image: url("../images/png/hot-topics.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-home .register-super {
   background-image: url("../images/png/register-btns/large-register-super.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-home .register-early {
   background-image: url("../images/png/register-btns/large-register-early.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-home .register-today {
   background-image: url("../images/png/register-btns/large-register-today.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
.page-home .twentythirteen img {
   background-image: url("../images/png/2013.png");
   background-repeat: no-repeat;
   background-size: 100% 100%
}
